.fade-enter-active, .fade-leave-active {
    transition: opacity .8s ease;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

.fade-out-leave-active {
    transition: opacity .8s ease;    
}

.fade-out-leave-to {
    opacity: 0;
}

.fade-in-enter-active {
    transition: opacity .8s ease;
}

.fade-in-enter {
    opacity: 0;
}