@import '_var.scss';

.loader-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 64px;
    width:100%;
    height:100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    .loader-ripple {
        display: inline-block;
        position: relative;
        width: 64px;
        height: 64px;
    }
    .loader-ripple div {
        position: absolute;
        border: 4px solid $primary;
        opacity: 1;
        border-radius: 50%;
        animation: loader-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }
    .loader-ripple div:nth-child(2) {
        animation-delay: -0.5s;
    }
    @keyframes loader-ripple {
        0% {
            top: 28px;
            left: 28px;
            width: 0;
            height: 0;
            opacity: 1;
        }
        100% {
            top: -1px;
            left: -1px;
            width: 58px;
            height: 58px;
            opacity: 0;
        }
    }
}

