$font: 'Montserrat', "Helvetica", Arial, sans-serif;

$default: rgb(102, 97, 91);
$primary: rgba(122, 158, 159, 1);
$info: rgba(104, 179, 200, 1);
$success: rgba(122, 194, 154, 1);
$warning: rgba(243, 187, 69, 1);
$danger: rgba(235, 94, 40, 1);

$background: rgba(255, 255, 255, 1);

$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);

$outline: rgba(221, 221, 221, 1);

@mixin noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

@mixin flex-display {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin flex($flex...) {
    -webkit-flex: $flex;
        -ms-flex: $flex;
            flex: $flex;
}


@mixin flex-direction($direction) {
    -webkit-flex-direction: $direction;
        -ms-flex-direction: $direction;
            flex-direction: $direction;
}

@mixin flex-wrap($wrap) {
    -webkit-flex-wrap: $wrap;
        -ms-flex-wrap: $wrap;
            flex-wrap: $wrap;
}

@mixin flex-order($order) {
    -webkit-order: $order;
   -ms-flex-order: $order;
            order: $order;
}


@mixin border-radius($radius: 4px) {    
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
        -ms-border-radius: $radius;
         -o-border-radius: $radius;
            border-radius: $radius;
}

@mixin border-top-left-radius($radius: 4px) {    
    -webkit-border-top-left-radius: $radius;
       -moz-border-top-left-radius: $radius;
        -ms-border-top-left-radius: $radius;
         -o-border-top-left-radius: $radius;
            border-top-left-radius: $radius;
}

@mixin border-top-right-radius($radius: 4px) {    
    -webkit-border-top-right-radius: $radius;
       -moz-border-top-right-radius: $radius;
        -ms-border-top-right-radius: $radius;
         -o-border-top-right-radius: $radius;
            border-top-right-radius: $radius;
}

@mixin border-bottom-left-radius($radius: 4px) {    
    -webkit-border-bottom-left-radius: $radius;
       -moz-border-bottom-left-radius: $radius;
        -ms-border-bottom-left-radius: $radius;
         -o-border-bottom-left-radius: $radius;
            border-bottom-left-radius: $radius;
}

@mixin border-bottom-right-radius($radius: 4px) {    
    -webkit-border-bottom-right-radius: $radius;
       -moz-border-bottom-right-radius: $radius;
        -ms-border-bottom-right-radius: $radius;
         -o-border-bottom-right-radius: $radius;
            border-bottom-right-radius: $radius;
}

@mixin box-shadow($value...) {
    -webkit-box-shadow: $value;      
       -moz-box-shadow: $value;      
        -ms-box-shadow: $value;      
         -o-box-shadow: $value;      
            box-shadow: $value;      
}

@mixin box-sizing($value) {
    -webkit-box-sizing: $value;
       -moz-box-sizing: $value;
            box-sizing: $value; 
}

@mixin transition($transition...) {
    -webkit-transition: $transition;
       -moz-transition: $transition;
        -ms-transition: $transition;
         -o-transition: $transition;
            transition: $transition;    
}

@mixin transition-delay($value) {
    -webkit-transition-delay: $value;
       -moz-transition-delay: $value;
         -o-transition-delay: $value;
            transition-delay: $value;
}

@mixin transform($transform...) {
    -webkit-transform: $transform;
       -moz-transform: $transform;
        -ms-transform: $transform;
         -o-transform: $transform;
            transform: $transform;    
}

@mixin linear-gradient($from, $to) {
    background: $to;
    background: -moz-linear-gradient(top, $from 0%, $to 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$from), color-stop(100%,$to));
    background: -webkit-linear-gradient(top, $from 0%,$to 100%);
    background: -o-linear-gradient(top, $from 0%,$to 100%);
    background: linear-gradient(to bottom, $from 0%,$to 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$from}, endColorstr=#{$to})
}
