@import '_var.scss';
@import '_grid.scss';
@import '_animation.scss';
$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';


.vg-app {

/* Basic typo */
    font: {
        size: 16px;
        family: $font; 
        weight: 400;
    }
    color: $default;
    background-color: transparent;
/*    background-image: linear-gradient(to bottom, transparent 0%, rgba(112, 112, 112, 0) 60%, rgba(186, 186, 186, 0.15) 100%);*/
    padding: 8px;    

    ::-moz-placeholder {
        color: $outline;
        font-weight: 200;
        opacity: 0.8;
    }
    ::-ms-input-placeholder {
        color: $outline;
        font-weight: 200;
        opacity: 0.8;
    }
    ::-webkit-input-placeholder {
        color: $outline;
        font-weight: 200;
        opacity: 0.8;
    }

    p {
        line-height: 1.4em;
    }

    h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
        margin: 30px 0 15px;
    }

    h1, .h1 {
        font-size: 4.5em;
    }

    h2, .h2 {
        font-size: 3em;
    }

    h3, .h3 {
        font-size: 1.825em;
        line-height: 1.4;
        margin: 20px 0 10px;
    }

    h4, .h4 {
        font-size: 1.5em;
        font-weight: 600;
        line-height: 1.2em;
    }

    h5, .h5 {
        font-size: 1.25em;
        line-height: 1.4em;
        margin-bottom: 15px;
    }

    h6, .h6 {
        font-size: 0.9em;
        font-weight: 600;
        text-transform: uppercase;
    }

    label, .label {
        font-size: 14px;
        display: block;
        color:$default;
        padding-top: 10px;
        padding-bottom: 2px;  
        font-weight: 800;
    }

    input[type="text"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="password"],
    input[type="tel"],
    input[type="search"], 
    textarea,
    .input {
        @include box-shadow(none);
        @include transition(all 300ms linear);
        @include border-radius(4px);
        background-color: $background;
        border: 1px solid $outline;
        color: $default;
        font-size: 14px;
        padding: 0px 12px;
        min-height: 40px;
        &:focus,&:active {
            @include box-shadow(none);
            color: $default;
            background-color: $background;
            border: 1px solid darken($outline, 27%);
            outline: 0 !important;
        }
    }

    .btn {
        @include noselect;
        @include transition(all 150ms linear);
        @include border-radius(.25rem);        
        box-sizing: border-box;
        font-size: 12px;
        font-weight: 600;
        padding: 0.5rem 18px;
        line-height: 1.75;
        cursor: pointer;
        text-transform: uppercase;
        background-color: $default;
        border: 2px solid $default;
        color:$white;
        opacity: 1;
        filter: alpha(opacity=100);
        &:hover, &:active, &:focus {
            background-color: darken($default, 10%);
            border-color: darken($default, 10%);
            outline: 0 !important;
            @include box-shadow(none);
        }
        &.btn-link {
            color: $default;
            border-color: transparent !important;
            background-color: transparent !important;
            padding: 7px 18px;
        }
        &.close {
            padding: 0;
            background: 0 0;
            border: 0;
            font-size: 20px;
            margin-top: -15px;            
            color: $white;    
            float:right;                    
        }
    }
    .btn-lg {
        font-size: 14px;
        padding: 11px 30px;
        @include border-radius(.3rem);
    }
    .btn-sm {
        font-size: 12px;
        padding: 4px 10px;
        @include border-radius(.2rem);
    }
    .btn-round {
        @include border-radius(30px);
    }
    .btn-just-icon {
        border-radius: 50px;
        height: 40px;
        width: 40px;
        min-width: 40px;
        padding: 8px;
        text-align: center;
        i { font-size: 16px; padding: 2px 0px; }
        &.btn-lg {
            height: 50px;
            width: 50px;
            min-width: 50px;
            padding: 13px;
            i { font-size: 18px; padding: 0; }
        }        
        &.btn-sm {
            height: 30px;
            width: 30px;
            min-width: 30px;
            padding: 0px;            
            i { font-size: 12px; }
        }
    }
    .btn-default {
        border-color: $default;
        background-color: $default;
        &.btn-link { color: $default; &:hover, &:active, &:focus { color: darken($default, 10%); background-color: transparent } }
        &:hover, &:active, &:focus { background-color: darken($default, 10%); border-color: darken($default, 10%); }
    }
    .btn-primary {
        border-color: $primary;
        background-color: $primary;
        &.btn-link { color: $primary; &:hover, &:active, &:focus { color: darken($primary, 10%); background-color: transparent } }
        &:hover, &:active, &:focus { background-color: darken($primary, 10%); border-color: darken($primary, 10%); }
    }
    .btn-info {
        border-color: $info;
        background-color: $info;
        &.btn-link { color: $info; &:hover, &:active, &:focus { color: darken($info, 10%); background-color: transparent } }
        &:hover, &:active, &:focus { background-color: darken($info, 10%); border-color: darken($info, 10%); }
    }
    .btn-success {
        border-color: $success;
        background-color: $success;
        &.btn-link { color: $success; &:hover, &:active, &:focus { color: darken($success, 10%); background-color: transparent } }
        &:hover, &:active, &:focus { background-color: darken($success, 10%); border-color: darken($success, 10%); }
    }
    .btn-warning {
        border-color: $warning;
        background-color: $warning;
        &.btn-link { color: $warning; &:hover, &:active, &:focus { color: darken($warning, 10%); background-color: transparent } }
        &:hover, &:active, &:focus { background-color: darken($warning, 10%); border-color: darken($warning, 10%); }
    }
    .btn-danger {
        border-color: $danger;
        background-color: $danger;
        &.btn-link { color: $danger; &:hover, &:active, &:focus { color: darken($danger, 10%); background-color: transparent } }
        &:hover, &:active, &:focus { background-color: darken($danger, 10%); border-color: darken($danger, 10%); }
    }
    .btn[class*="btn-outline-"] {
        background-image: none;
        background-color: transparent;
    }
    .btn-outline-default, .btn-outline {
        border-color: $default;
        color: $default;
        &:hover, &:active, &:focus { border-color: $default; background-color: $default; color: transparentize($white, 0.2); }
    }
    .btn-outline-primary {
        border-color: $primary;
        color: $primary;
        &:hover, &:active, &:focus { border-color: $primary; background-color: $primary; color: transparentize($white, 0.2); }
    }
    .btn-outline-info {
        border-color: $info;
        color: $info;
        &:hover, &:active, &:focus { border-color: $info; background-color: $info;  color: transparentize($white, 0.2); }
    }
    .btn-outline-success {
        border-color: $success;
        color: $success;
        &:hover, &:active, &:focus { border-color: $success; background-color: $success; color: transparentize($white, 0.2); }
    }
    .btn-outline-warning {
        border-color: $warning;
        color: $warning;
        &:hover, &:active, &:focus { border-color: $warning; background-color: $warning; color: transparentize($white, 0.2); }
    }
    .btn-outline-danger {
        border-color: $danger;
        color: $danger;
        &:hover, &:active, &:focus { border-color: $danger; background-color: $danger; color: transparentize($white, 0.2); }
    }

    .pagination {
        display: -ms-flexbox;
        display: flex;
        padding-left: 0;
        list-style: none;
        border-radius: .25rem;
        justify-content: center;
        align-items: center;        
    }

    .page-link {
        @include noselect;
        position: relative;
        display: block;
        background-color: transparent;
        border: 1px solid $info;
        border-radius: 20px;
        color: $info;
        height: 28px;
        margin: 0 2px;
        min-width: 28px;
        font-weight: 300;
        line-height: 28px;
        text-align: center;
        cursor: pointer;
        &.active{
            background-color: $info;
            color: $white;
        }
    }

/* Component general scope */

    .vg-control {
        margin: 15px 0;
        display: block;
        position: relative;
        .error {
            color:$danger;
            margin: 0px;
            font-size: 10px;
            font-weight: 200;  
            position: absolute;
            bottom: -13px;
            left: 0;          
        }
    }
}