<template>
    <div class="vg-accordion-pane">
        <div class="vg-accordion-header" @click="clickHandle" :class="activeClass">
            <h3>{{ title }}</h3>
        </div>
        <transition name="slide-down">
            <div v-if="isActive" class="vg-accordion-content">
                <slot></slot>
            </div>
        </transition>
    </div>
</template>
<script>
    export default {
        props:{
            title: { type: String, default : 'Accordion' },
            active: { type: String,  default : 'false' }
        },        
        data(){
            return {
                isActive: parseBool(this.active)
            }
        },
        computed: {
            activeClass() {
                return this.isActive ? 'active' : '';
            }
        },
        methods: {
            clickHandle() {
                if (!this.isActive) { 
                    this.$parent.switchTo(this);
                }
                else {
                    this.isActive = false;
                }
            }
        },        
        mounted() {
            this.$parent.add(this)
        }
    }    
</script>
<style>
    .vg-accordion-pane {
        margin: 5px 0px;
        overflow:hidden;
        position:relative;        
    }
    .vg-accordion-header {
        padding: 5px 10px;     
        background-color: chocolate;
        border: 1px solid #777; 
        cursor: pointer;  
    }
    .vg-accordion-header.active {
        background-color: aquamarine;
        border-bottom: none;
        cursor: unset;
    }
    .vg-accordion-content {
        padding: 10px;
        border-bottom: 1px solid #777;
        border-left: 1px solid #777;
        border-right: 1px solid #777;
        z-index: -1;
    }
    .slide-down-enter-active {
        transition: all 0.5s ease;        
        overflow-y: hidden;
    }
    .slide-down-enter  /* .fade-leave-active below version 2.1.8 */ {
    -webkit-transform: translate(0, -100%);
       -moz-transform: translate(0, -100%);
        -ms-transform: translate(0, -100%);
            transform: translate(0, -100%);            
    }
    .slide-down-enter-to /* .fade-leave-active below version 2.1.8 */ {
    -webkit-transform: translate(0, 0%);
       -moz-transform: translate(0, 0%);
        -ms-transform: translate(0, 0%);
            transform: translate(0, 0%);
    }    
</style>
