<template>
    <div>
        <slot></slot>
    </div>
</template>
<script>
    import { togglerMixin } from '../togglerMixin'
    export default {
        mixins:[ togglerMixin ]
    };          
</script>
<style>

</style>
