<template>
    <button class="btn" type="button" :id="uniqueId" @click.prevent="clickHandle" @hover.prevent="hoverHandle">
        <slot>{{ label }}</slot>
    </button>
</template>

<script>
   import { enumMixin } from '../enumMixin'
   export default {
        mixins: [ enumMixin ],
        props:{
            type: { type:String, default:'button' },
            toggle: { type:String, default:''},       
            label: { type:String, default: 'Button' }     
        },
        data() {
            return {
            }
        },
        // Зависимости
        computed : {
        },
        // Хук
        watch : {
        },
        methods:{
            clickHandle(event) {
                if (this.toggle && typeof this.$root.$refs[this.toggle].toggle === "function") {
                    this.$root.$refs[this.toggle].toggle();
                }
            },
            hoverHandle(event) {
                
            }
        }
    };
</script>

<style lang="scss">
    @import './src/sass/_var.scss';    
    .vg-button {
        display: inline;        
    }
</style>