<template>
    <div class="vg-check vg-control">
        <label :for="uniqueId" :class="{check: true, checked:currentValue}">
            <input type="checkbox" :name="name" v-model="currentValue" :id="uniqueId">
            <span class="icon">
                <i v-if="currentValue" class="fa fa-check-square-o"></i>
                <i v-else class="fa fa-square-o"></i>
            </span>             
            {{ label }}
        </label>
    </div>
</template>
<script>
    import { controlMixin } from '../controlMixin'    
    import { enumMixin } from '../enumMixin'
    export default {
        mixins: [ controlMixin, enumMixin ],    
        data() {
            return {
                currentValue: this.value ? this.value : false
            } 
        }
    }
</script>
<style lang="scss">
@import './src/sass/_var.scss';
.check {
    font-weight: 400 !important;    
    .icon {
        position: relative;
        font-size: 1.3em;
        color: $default;
        top:1px;
        i {                 
            min-width: 1em;               
            opacity: 0.5;
            transition: opacity 0.5s;
            &.fa-check-square-o {
                opacity: 1;
            }
        }        
    }
    input {
        display: none;
    }        
}
</style>