<template>
    <div class="vg-collection">
        <div class="h5">{{ label }}</div>
        <table class="collection-table">
            <tr v-for="(component, index) in components" :key="component.id">
                <td>
                    <component 
                    :is="type"
                    :name="name"
                    :params="params"
                    :validation="validation"
                    :pattern="pattern"
                    :list="list"
                    :key="component.id"
                    :value="component.value"
                    ></component>
                </td>
                <td>
                    <button @click.prevent="del(index)" class="btn btn-sm">Delete</button>
                </td>
            </tr>
            <tr>
                <td colspan="2"><button @click.prevent="add" class="btn btn-sm">Add</button></td>
            </tr>
        </table>
    </div>
</template>
<script>
    import { controlMixin } from '../controlMixin'
    import { enumMixin } from '../enumMixin'    
    export default {
        mixins: [ controlMixin, enumMixin ],    
        props : {
            type: { type: String, default: ''},
            value : { type: Array, default(){return []} }
        },
        data() {
            return {
                values: this.value,
                idCounter: 0,
                components: []
            }
        },
        methods : {
            add() {
                this.components.push({id: this.uniqueId + '_' + this.idCounter, value : this.defaultValue });
                this.idCounter++;
            },
            del(index) {
                this.components.splice(index, 1);
            }
        },
        created() {
            for(let i=0; i < this.values.length; i++) {
                this.components.push({ id: this.uniqueId + "_" + i, value : this.values[i] });
                this.idCounter++;
            }            
        }
    }
</script>
<style lang="scss">
.vg-collection {
    margin: 30px 0px;
    .h5 {
        margin-bottom: 3px;
    }
    .collection-table {
        width: 100%
    }
    .vg-control {
        margin: 1px;
        padding:0;
    }
}
</style>