<template>
    <div class="vg-calendar vg-control">
        <label v-if="label">{{ label }}</label>
        <div class="calendar-wrapper">
            <span class="calendar-input" ref="input" @click="inputClick">
                <vg-input type="date" v-model="valueDisplay"></vg-input>
            </span>
            <input type="hidden" :name="name" v-model="currentValue">
            <transition name="fade">
                <div v-show="isVisible" class="vg-calendar-container" :class="{ top: isTop }" ref="calendarGrid">
                    <table class="vg-calendar-grid">
                        <thead>
                            <tr>
                                <th class="vg-cell-handler" @click.stop="currentYear--">&lsaquo;</th>
                                <th colspan="5" class="vg-cell-header">{{ this.currentYear }}</th>
                                <th class="vg-cell-handler" @click.stop="currentYear++">&rsaquo;</th>
                            </tr>
                            <tr>
                                <th class="vg-cell-handler" @click.stop="prevMonth">&lsaquo;</th>
                                <th colspan="5" class="vg-cell-header">{{ this.monthStrFull[this.currentMonth] }}</th>
                                <th class="vg-cell-handler" @click.stop="nextMonth">&rsaquo;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td v-for="weekday in this.daysStr" class="vg-cell-weekday" :key="weekday">{{ weekday }}</td>
                            </tr>
                            <tr v-for="row in this.grid">
                                <td v-for="day in row" class="vg-cell-day" :class="day.class" @click.stop="selectDate(day, $event)">{{ day.value }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </transition>
        </div>
    </div>
</template>
<script>
    import { controlMixin } from '../controlMixin'
    import { enumMixin } from '../enumMixin'
    
    export default {
        mixins: [ controlMixin, enumMixin ],    
        props: {
            formatDisplay: { type:String, default: 'yyyy-mm-dd'},
            formatStore: { type:String,  default: 'yyyy-mm-dd'},                
        },
        data() {
            let d =  new Date(this.value);
            if ( Object.prototype.toString.call(d) !== "[object Date]" || isNaN( d.getTime() ) ) {
                d = new Date();
            }
            return {
                isVisible: false,
                isTop:false,
                clientRect: null,
                currentValue: this.value,
                currentMonth: d.getMonth(),
                currentYear: d.getFullYear(),
                nowMonth: d.getMonth(),
                nowYear: d.getFullYear(),
                nowDate: d.getDate(),
                selectedMonth:d.getMonth(),
                selectedYear:d.getFullYear(),
                selectedDay:d.getDate(),
                valueDisplay:'',
//                startDayOfWeek: 0,
//                monthStr: [ 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec' ],
//                monthStrFull: [ 'January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December' ],
//                daysStr: [ 'Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat' ],
//                weekend: [0, 6]
                startDayOfWeek: 1,
                monthStr: [ 'Янв', 'Фев', 'Мар', 'Апр', 'Май', 'Июнь', 'Июль', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек' ],
                monthStrFull: [ 'Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь' ],
                daysStr: [ 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб', 'Вс' ],
                weekend: [5, 6]
            }
        },
        computed: {
            isCurrentMonth() {
                return this.currentMonth === this.nowMonth && this.currentYear === this.nowYear;
                this.currentMonth === this.selectedMonth && this.currentYear === this.selectedYear && this.selectedDay;
            },
            grid() {
                let grid = []; let week = [];
                let d = new Date(this.currentYear, this.currentMonth, 1, 0, 0, 0, 0);
                let startDay = d.getDay() - this.startDayOfWeek;
                let dim = (this.currentYear % 4) ? [ 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31 ] : [ 31, 29, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31 ];
                let i = 0;
                let j = dim[ this.currentMonth ? this.currentMonth - 1 : 11 ] - startDay + 1;
                while(i < startDay) {
                    week.push({ value:j, class:{ inactive:true, weekend: i % 7 === this.weekend[0] || i % 7 === this.weekend[1], selected:false } });
                    i++; j++;
                }
                j = 1;
                while (j <= dim[this.currentMonth]) {
                    if (i % 7 === 0) {
                        grid.push(week);
                        week = [];
                    }                     
                    week.push({ value:j, class:{ inactive:false, weekend: i % 7 === this.weekend[0] || i % 7 === this.weekend[1] , selected:this.currentMonth === this.selectedMonth && this.currentYear === this.selectedYear && this.selectedDay === j} });
                    i++; j++;
                }
                j = 1;
                while(i % 7 !== 0) {
                    week.push({ value:j, class:{ inactive:true, weekend: i % 7 === this.weekend[0] || i % 7 === this.weekend[1], selected:false } });
                    i++; j++;                                        
                }
                grid.push(week);
                return grid;                
            }
        },
        methods: {
            nextMonth() {
                if (this.currentMonth === 11) {
                    this.currentMonth = 0;
                    this.currentYear = this.currentYear + 1;
                }
                else {
                    this.currentMonth = this.currentMonth + 1;
                }
            },
            prevMonth() {
                if (this.currentMonth === 0) {
                    this.currentMonth = 11;
                    this.currentYear = this.currentYear - 1;
                }
                else {
                    this.currentMonth = this.currentMonth - 1;
                }
            },

            selectDate(day, $event) {
                if (day.class.inactive) {
                    return;
                }
                this.selectedMonth = this.currentMonth;
                this.selectedYear = this.currentYear;
                this.selectedDay = day.value;
                let formatObj = {
                    yyyy:this.selectedYear.toString(), 
                      yy:this.selectedYear.toString().substr(2,2),
                      mm:this.selectedMonth + 1 > 9 ? (this.selectedMonth + 1).toString() : '0' + (this.selectedMonth + 1).toString(),
                      MM:this.monthStrFull[this.selectedMonth].toString(),
                       M:this.monthStr[this.selectedMonth].toString(),
                       d:this.selectedDay.toString(),
                      dd:this.selectedDay > 9 ? this.selectedDay.toString()  : '0' + this.selectedDay.toString()
                }
                this.valueDisplay = this.formatDisplay.replace(/(yyyy|yy|mm|MM|M|dd|d)/g ,(m) => {return formatObj[m]});
                this.currentValue = this.formatStore.replace(/(yyyy|yy|mm|MM|M|dd|d)/g ,(m) => {return formatObj[m]}); 
                this.isVisible = false;
            },
            inputClick() {
                this.isTop = this.$refs.input.getBoundingClientRect().bottom > window.innerHeight / 2 ;
                this.isVisible = true;
            },
            documentClick(event) {
                let rect = this.$refs.calendarGrid.getBoundingClientRect();
                if (rect.width){
                    let rect = this.$refs.calendarGrid.getBoundingClientRect();       
                    if ( event.clientX >= rect.left && event.clientX <= rect.right && event.clientY >= rect.top && event.clientY <= rect.bottom) {
                        return;
                    }                
                    this.isVisible = false;                
                }
            },
        },
        created() {
            this.selectDate({value: this.nowDate, class :{inactive:false}});
            document.addEventListener("click", this.documentClick, false);             
        },
        destroyed() {
            document.removeEventListener("click", this.documentClick, false);                         
        }
    }
</script>
<style lang="scss">
    @import './src/sass/_var.scss';
    .vg-calendar {
        .calendar-wrapper {
            position: relative;
            padding: 0;
            margin: 0;
            .vg-calendar-container {
                @include noselect;
                padding: 15px;
                display: inline-block;
                position: absolute;
                border: 1px solid $outline;
                border-radius: 5px;  
                background-color: $white;
                left:0;
                top: 52px;
                z-index: 10;
                min-width: 196px;
                &:before, &:after {
                    content:'';
                    display: inline-block;
                    position: absolute;
                    width: 0;
                    height: 0;
                    left:100px;
                    border-style: solid;
                    border-width: 11px 11px 11px 11px;            
                }        
                &:before {
                    top:-23px;
                    border-color: transparent transparent $outline transparent;
                }
                &:after {
                    top:-22px;
                    border-color: transparent transparent $white transparent;
                }
                &.top {
                    bottom:53px;
                    top:auto;
                    &:before {
                        top:auto;
                        bottom:-23px;
                        border-color:  $outline  transparent transparent transparent;
                    }
                    &:after {
                        top:auto;
                        bottom: -22px;
                        border-color: $white transparent transparent transparent;
                    }            
                }
            }
            .vg-calendar-grid {
                font-size: 12px;
                font-weight: bold;
                border-spacing: 0px;
                border-collapse: separate;        
                .vg-cell-header, .vg-cell-handler {
                    background-color: $default;
                    color: $white;
                    height: 16px;        
                }
                .vg-cell-handler {
                    font-size: 20px;
                    padding:0px;
                    border:none;
                    margin:0px;
                    cursor: pointer;
                }
                .vg-cell-day {
                    width: 24px;
                    height: 24px;
                    background-color: $white;
                    color:$primary;
                    text-align: center;
                    vertical-align: middle;
                    border: 1px solid $white;
                    cursor: pointer;
                    &.weekend { background-color: $info; color: $white; }
                    &.inactive { background-color: transparentize($primary, 0.5); color: $primary; }
                    &.selected  { background-color: $warning; color: $white; }
                    &:hover { background-color: $default; color: $white; }
                }
                .vg-cell-weekday {
                    text-align: center;
                    height: 16px;
                    font-size: 10px;
                    background-color: $primary;
                    color: $white;
                    text-transform: uppercase;
                }

            }
        }
    }

    .vg-calendar-input {
        margin: 5px 0px;
    }

</style>