<template>
    <div class="vg-control vg-input">
        <label v-if="label" :for="uniqueId">{{ label }}</label>
        <div class="input-group">
            <input type="text" 
                :id="uniqueId" 
                :name="name" 
                :value="currentValue" 
                @input="input($event.target.value)"        
                @change="change($event.target.value)"
                :placeholder="placeholder" 
                :class="inputClass"
                ref="input"
            >
            <i class="input-icon fa" :class="iconClass" v-if="hasAddon" @click="$refs.input.focus()"></i>
            <span v-if="type==='number'" class="spin-group">
                <i class="fa fa-caret-up spin-button" @click="inc"></i>
                <i class="fa fa-caret-down spin-button" @click="dec"></i>
            </span>
        </div>
        <transition name="fade">
            <p v-if="hasError" class="error">{{errorMsg}}</p>        
        </transition>
    </div>
</template>
<script>
    import { enumMixin } from '../enumMixin'
    import { controlMixin } from '../controlMixin'
    
    export default {
        mixins: [ enumMixin, controlMixin ],
        props: {
            value: { type: [ String, Number ], default: '' },
            validation: { type: String, default: "false" },
            pattern: { type: String, default: "/.*/" },
            icon: { type:String, default:'' },
            min: { type: [ String, Number ], default: '-99999999999' },
            max: { type: [ String, Number ], default: '99999999999' },
            step: { type: [ String, Number ], default: '1' },
            type: { type: String, default: "text" },
            placeholder: { type: String, default: '' },
            validateMessage : { type:String },            
        },
        data() {
            return {
                hasAddon : false,
                iconClass : this.icon ? 'fa-' + this.icon : '',
                patternReg : this.pattern,
                validateErrorMsg: this.validateMessage ? this.validateMessage : "Must match pattern :" + this.pattern,
                validationFlag: parseBool(this.validation)
            }
        },
        computed: {            
            inputClass() {
                return this.hasAddon ? 'has-icon' : '';
            },
        },
        watch: {
            value(newValue, oldValue) {
                this.currentValue = newValue;
                if (this.type === 'number') {
                    this.currentValue = this.currentValue > this.max ? this.max : this.currentValue;
                    this.currentValue = this.currentValue < this.min ? this.min : this.currentValue;
                    this.currentValue = Math.round(this.currentValue * 1000) / 1000;
                }
            }
        },
        created() {
            switch(this.type) {
                case 'date': 
                    this.iconClass = 'fa-calendar';
                    this.hasAddon = true;
                break;
                case 'url':
                    this.iconClass = 'fa-link'
                    if (parseBool(this.required)) {
                        this.validationFlag = true;
                        this.patternReg = /^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?$/;
                        this.validateErrorMsg = 'Must be a valid URL';
                    }
                    this.hasAddon = true;
                break;
                case 'email':
                    this.iconClass = 'fa-envelope'
                    if (parseBool(this.required)) {
                        this.validationFlag = true;
                        this.patternReg = /^([a-z0-9_\.-]+)@([a-z0-9_\.-]+)\.([a-z\.]{2,6})$/;
                        this.validateErrorMsg = 'Must be a valid e-mail address';
                    }
                    this.hasAddon = true;
                break;
                case 'number': 
                    this.hasAddon = true;                    
                    if (parseBool(this.required)) {
                        this.validationFlag = true;
                        this.patternReg = /^(\+|-)?[\d]*\.?[\d]+$/
                        this.validateErrorMsg = 'Must be a valid number';
                    }
                    this.currentValue = this.currentValue ? Number(this.currentValue) : 0
                break;
                default: 
                    this.hasAddon = false;
                break;
            }   
        },
        methods: {
            inc() {
            
                this.input(Number(this.currentValue) + Number(this.step));
                this.change(Number(this.currentValue) + Number(this.step));
            },
            dec() {
                this.input(this.currentValue - this.step);
                this.change(this.currentValue - this.step);
            },      
            validate(event) {
                this.hasError = false;
                if (!this.currentValue && this.type!=='number') {
                    event.preventDefault();
                    this.hasError = true;
                    this.errorMsg = this.requiredErrorMsg;
                    return false;
                }
                if (this.validationFlag && !this.currentValue.match(this.patternReg)) {
                    event.preventDefault();
                    this.hasError = true;
                    this.errorMsg = this.validateErrorMsg;    
                    return false;            
                }
            },
            input(value) {
                this.currentValue = value;
                if (this.type === 'number') {
                    if (this.currentValue == '') {
                        this.currentValue = 0;
                    }
                    else {
                        this.currentValue = this.currentValue > this.max ? this.max : this.currentValue;
                        this.currentValue = this.currentValue < this.min ? this.min : this.currentValue;
                    }
                }
                this.$emit('input', this.currentValue);
            },
            change(value) {
                this.currentValue = value;
                if (this.type === 'number') {                    
                    if (this.currentValue == '') {
                        this.currentValue = 0;
                    }
                    else {
                        this.currentValue = this.currentValue > this.max ? this.max : this.currentValue;
                        this.currentValue = this.currentValue < this.min ? this.min : this.currentValue;
                    }
                    this.currentValue = Math.round(this.currentValue * 1000) / 1000;
                }
                this.$emit('change', this.currentValue);
            }  
        }
    }
</script>
<style lang="scss">
    @import './src/sass/_var.scss';
    .vg-input {
        display: inline;
        .input-group {
            position: relative;
            display: inline-block;
            input {
                &.has-icon {
                    padding-right: 35px;
                }            
            }    
            i {
                position: absolute;
                display: inline-block;
                height: 40px;
                right: 0px;
                top: 0px;
                padding: 0 10px;
                line-height: 40px;                
            } 
            .spin-group{
                position: absolute;
                display: inline-block;
                right: 1px;
                top: 1px;
                height: 40px;
                min-width: 32px;
                //border-left: 1px solid $outline;
                i {
                    position: initial;
                    display: block;
                    line-height: 20px;
                    padding: 0px 10px;
                    margin: 0px;
                    height: 50%;
                    cursor: pointer;
//                    &:first-child {
//                        border-bottom: 1px solid $outline
//                    }
                }
            }   
        }
    }
</style>
