<template>
    <div class="vg-mask vg-control">
        <label :for="uniqueId">{{label}}</label>
        <input type="text" ref="input"
            @focus.self="focus" 
            @keydown.self.stop.prevent="keydown" 
            @click.self.stop.prevent="click" 
            :value="keyStr"
            :id="uniqueId"
        />
        <input type="hidden" :value="rawStr" :name="name">
        <transition name="fade">
            <p v-if="hasError" class="error">{{ errorMsg }}</p>
        </transition>
    </div>
</template>
<script>
    import { controlMixin } from '../controlMixin'    
    import { enumMixin } from '../enumMixin'
    
    export default {
        mixins: [ controlMixin, enumMixin ],    
        props:{
            maskChar : { type: String, default: '_' },
            mask: { type: String, default: '******-*******-******-*****' }
        },
        data() {
            return {
                umaskArr: [],
                rmaskArr: [],
                keyBuf:[],
                keyStr:'',
                rawValue: [],
                rawStr:'',
                rawPosition: 0,
                requiredErrorMsg: this.requiredMessage ? this.requiredMessage : 'Input must correspond to the mask :' + this.mask.replace(/[A\*0]/g, 'X')
            }
        },
        computed: {
        },
        methods: {
            setSelection() {
                let i = 0; let j = 0; let k = 0;
                while( this.umaskArr[i++] || j++ < this.rawPosition  ) { k++; };
                this.$refs.input.setSelectionRange(k, k);
            },
            isMatch(mask, key) {                
                if (mask === 42) {
                    return (key>='a' && key<='z')||(key >='A'&& key<='Z')||(key>='0' && key<='9'); 
                }
                if (mask === 97) {
                    return (key>='a'&& key<='z')||(key >='A'&& key<='Z'); 
                }
                if (mask === 48) {
                    return key>='0' && key<='9';
                }
                return false;
            },
            combine() {
                let i = 0; let j = 0;
                while(i < this.mask.length) {
                    this.keyBuf[i] =  this.umaskArr[i] ? this.umaskArr[i] : ( this.rawValue[j] ? this.rawValue[j++] : this.maskChar )  ;
                    i++;
                }
                this.keyStr = this.keyBuf.join('');
                this.rawStr = this.rawValue.join('');
            },
            keydown(event) {               
                if (event.key.length === 1 && this.isMatch(this.rmaskArr[this.rawPosition], event.key)) {                                                                           
                    this.rawValue[this.rawPosition++] = event.key;
                    this.combine();
                    this.setSelection();
                }
                if (event.key === 'Backspace' && this.rawValue.length && this.rawPosition) {
                    this.rawValue[this.rawPosition-- - 1] = '';
                    this.combine();
                    this.setSelection();
                }
            },
            focus(event){
                this.setSelection(); 
            },
            click(event){
                this.setSelection();     
            },
            validate(event) {
                this.hasError = false;
                if (this.rawStr.length < this.rmaskArr.length) {
                    event.preventDefault();
                    this.hasError = true;
                    this.errorMsg = this.requiredErrorMsg;
                    return false;
                }
            },            
        },
        created() {
            this.rawPosition = 0;
            for( let i=0; i < this.mask.length; i++ ) {
                let ch = this.mask.charCodeAt(i);
                switch(ch) {
                    case 42:// *
                    case 97:// A
                    case 48:// 0
                            this.rmaskArr.push(ch)
                            this.umaskArr.push(0);
                            while( !this.isMatch( ch , this.currentValue.charAt(this.rawPosition)) && this.rawPosition < this.currentValue.length ) {
                                this.currentValue = this.currentValue.slice(0, this.rawPosition) + this.currentValue.slice(this.rawPosition + 1, this.currentValue.length);
                            }
                            this.rawValue.push( this.rawPosition < this.currentValue.length ? this.currentValue.charAt(this.rawPosition++) : '' );
                        break;
                    default:
                            this.umaskArr.push( this.mask.charAt(i) );
                        break;
                }            
            }
            this.keyBuf = this.umaskArr.slice();
            this.combine();            
        },
        updated() {
            this.setSelection();
        }     
    }
</script>