<template>
    <div v-show="isVisible" class="vg-modal" :id="uniqueId" tabindex="-1" role="dialog" @click.self="hide">
        <transition :name="animation">
            <div v-show="isVisible" class="vg-modal-dialog" role="document">
                <div class="vg-modal-content">
                    <div class="vg-modal-header">
                        <slot name="header">
                            Modal title
                            <button type="button" @click="hide" class="btn close" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </slot>
                    </div>
                    <div class="vg-modal-body" ref="body"> 
                        <slot>
                            Modal Content
                        </slot>                    
                    </div>
                    <div class="vg-modal-footer">
                        <slot name="footer">
                            <button type="button" @click="hide" class="btn btn-danger btn-link">Close</button>
                        </slot>
                    </div>
                </div>
            </div>        
        </transition>
    </div>
</template>
<script>
    import 'whatwg-fetch'
    import { controlMixin } from '../controlMixin'    
    import { enumMixin } from '../enumMixin'

    export default {
        mixins: [ controlMixin, enumMixin ],
        props: {
            animation:{ type:String, default:"fade" }
        },
        data() {
            return {
                isVisible: false
            }
        },
        methods: {
            show() {
                this.isVisible = true;                
            },
            hide() {
                this.isVisible = false;
            },
            toggle() {
                this.isVisible = !this.isVisible;
            },
            loader($state) {
                this.loader = $state;
            }
        },        
    }
</script>
<style lang="scss">
    @import './src/sass/_var.scss';
    .vg-modal {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 10050;
        background:transparentize($black, 0.25);
        overflow: hidden;
        outline: 0;
        .vg-modal-dialog {
            position: relative;
            width: auto;
            padding-top: 60px;
            max-width: 500px;
            margin: 30px auto;            
        }
        .vg-modal-content {
            @include border-radius(10px);
            @include box-shadow(0 0 15px rgba(0, 0, 0, 0.15), 0 0 1px 1px rgba(0, 0, 0, 0.1));
            position: relative;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
                flex-direction: column;
            background-color: $white;
            background-clip: padding-box;
            outline: 0;
            border: 0 none;
            .vg-modal-header {
                border-bottom: 1px solid $outline;
                padding: 20px;
                text-align: center;
                display: block !important;
                position: relative;
                font-size: 18px;
                .close {
                    right: 0px;
                    top: 18px;
                    position: absolute;
                    color: $danger !important;                    
                    width: 24px;
                    height: 24px;
                    line-height: 10px;
                }
            }
            .vg-modal-body {
                padding: 10px 15px;
                color: $black;
                position: relative;
                -ms-flex: 1 1 auto;
                flex: 1 1 auto;
                font-size: 14px;
            }
            .vg-modal-footer {
                border-top: 1px solid $outline;
                padding: 0px;             
            }
        }            
    }
</style>
