<template>
    <div class="vg-radio vg-control">
        <div class="label">{{ label }}</div>
        <label v-for="(val, key) in dataset" :key="`${uniqueId}_${key}`" :for="`${uniqueId}_${key}`" :class="{ checked:key === currentValue, radio:true }">
            <span class="icon">
                <i v-if="currentValue === key" class="fa fa-dot-circle-o"></i>
                <i v-else class="fa fa-circle-o"></i>
            </span>                
            <input type="radio" :name="name" :value="key" :id="`${uniqueId}_${key}`" v-model="currentValue">
            {{ val }}
        </label>
        <div v-show="false"><slot></slot></div>
    </div>
</template>
<script>
    import { controlMixin } from '../controlMixin'    
    import { enumMixin } from '../enumMixin'
    
    export default {
        mixins: [ controlMixin, enumMixin ],    
        props: {
            list: { type: Object, default: function(){ return {} } }
        },
        data() {
            return {
                currentValue : this.value ? this.value : Object.keys(this.list)[0],
                dataset: this.list,
            }
        },
        methods: {
        },
        mounted() {
            for(let el of this.$slots.default) {
                this.list[el.elm.value] = el.elm.text; 
            }
        }
        
    }
</script>
<style lang="scss">
@import './src/sass/_var.scss';
.radio {
    font-weight: 400 !important;
    .icon {
        position: relative;
        font-size: 1.3em;
        color: $default;
        top: 1px;
        i {                                
            opacity: 0.5;
            transition: opacity 0.5s;
            &.fa-dot-circle-o {
                opacity: 1;
            }
        }
    }
    input {
        display: none;
    }          
    &:hover {
        i:before {
            content:"\F192";
        }
    }
}
</style>