<template>
    <div class="vg-range vg-control">
        <label v-if="hasInput && label" :for="uniqueId + '_input'">{{ label }}</label>
        <div class="vg-range-group">
            <div v-if="hasInput" class="vg-range-input">
                <vg-input v-if="hasInput" :id="uniqueId + '_input'" type="number" :min="min" :max="max" :step="step" v-model="currentValue" :name="name" @change="resize"></vg-input>
            </div>
            <input v-else type="hidden" :name="name">
            <div class="vg-stripe-container">
                <div class="vg-range-stripe" :id="uniqueId" ref="stripe">
                    <div class="vg-range-selection" :style="selectionStyle"></div>
                    <div class="vg-range-button" ref="pullButton" @mousedown.self.stop.prevent="mouseDown" :style="buttonStyle" @dragstart.self.stop.prevent="dragStart"></div>
                </div>
            </div>

        </div>        
    </div>
</template>
<script>
    import { controlMixin } from '../controlMixin'
    import { enumMixin } from '../enumMixin'
    import { EventBus } from '../eventBus'    

    export default {
        mixins: [ controlMixin, enumMixin ],    
        props:{},
        data() {
            return {
                offset:0,
                hasInput: true,
                min:0,
                max:100,      
                step:0.1,
                shiftX: 0,
                rightEdge: 0,
                currentValue: this.value ? this.value : 0,
                isDragging: false
            }
        },
        computed: {
            buttonStyle() {
                return { 'left': this.offset + 'px', 'transform': this.isDragging ? 'scale3d(2,2,1)' : 'none' }
            },
            selectionStyle() {
                return { 'width': this.offset + 7 + 'px' } 
            },
        },
        methods:{
            mouseDown(event) {                
                this.shiftX = event.pageX - ( event.target.getBoundingClientRect().left + pageXOffset );
                document.addEventListener('mousemove', this.mouseMove);
                document.addEventListener('mouseup', this.mouseUp);
                this.isDragging = true;
                return false;
            },
            mouseUp(event) {
                document.removeEventListener('mousemove', this.mouseMove);
                document.removeEventListener('mouseup', this.mouseUp);
                this.isDragging = false;
                return false;
            },
            mouseMove(event) {
                let newOffset = event.pageX - this.shiftX - (this.$refs.stripe.getBoundingClientRect().left + pageXOffset);
                if (newOffset < 0) {
                    this.offset = 0;
                    this.currentValue = this.min;
                    return false;
                }
                if (newOffset > this.rightEdge) {
                    this.offset = this.rightEdge;
                    this.currentValue = this.max;
                    return false;
                }
                this.offset = newOffset;
                this.currentValue =  this.step * Math.round((this.min +  this.offset*(this.max - this.min) / this.rightEdge)/this.step);
                return false;
            },
            resize(event) {
                this.rightEdge = this.$refs.stripe.offsetWidth - this.$refs.pullButton.offsetWidth;
                this.offset = Math.floor( (this.currentValue - this.min) * this.rightEdge / (this.max - this.min) );
            },
            dragStart(event) {
                return false;
            },
        },
        created() {
            window.addEventListener('resize', this.resize);
            EventBus.$on('toggled', this.resize);            
        },
        beforeDestroy() {
            window.removeEventListener('resize', this.resize);
        },
        mounted() {
            this.resize(null);
        },
    };
</script>
<style lang="scss">
    @import './src/sass/_var.scss';
    .vg-range {
        width: 100%;
        .vg-range-group {
            @include flex-display;
            @include flex-direction(row);
            @include flex-wrap(nowrap);
            -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
            justify-content: flex-start;
            -webkit-align-content: stretch;
            -ms-flex-line-pack: stretch;
            align-content: stretch;
            -webkit-align-items: flex-start;
            -ms-flex-align: start;
            align-items: flex-start;
            cursor: pointer;

            .vg-range-input {
/*              height: auto;
                width: auto;
                padding: 7px 4px;                
                margin-top: 3px; */
                -webkit-order: 0;
                -ms-flex-order: 0;
                order: 0;
                @include flex(0 1 76px);
                -webkit-align-self: auto;
                -ms-flex-item-align: auto;
                align-self: auto;

                .vg-input {
                    margin: 0px;
                    input {
                        max-width:76px;
                    }
                }
            }

            .vg-stripe-container {
                -webkit-order: 0;
                -ms-flex-order: 0;
                order: 0;
                @include flex(1 1 auto);
                -webkit-align-self: auto;
                -ms-flex-item-align: auto;
                align-self: auto;
                .vg-range-stripe {
                    position: relative;
                    height: 2px;
                    background-color: #c8c8c8;;
                    margin: 20px 5px;
                    border-radius: 3px;

                    .vg-range-button {
                        box-sizing: border-box;
                        background: $white;
                        @include border-radius(100%);
                        @include box-shadow(0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12));
                        height: 14px;
                        width: 14px;
                        cursor: pointer;
                        position: relative;
                        top:-5px;
                        transition: transform 0.2s ease-out;
                        border: 1px solid;
                        border-color: $info;
                        outline: none;
                    }

                    .vg-range-selection {
                        background-color: $info;
                        position: absolute;
                        border-radius: 3px;
                        left:0px;
                        top: 0px;
                        height: 2px;
                    }
                }      
            }  
        }
    }
</style>