<template>
    <div class="vg-select vg-control">
        <label :for="uniqueId" class="vg-label">{{ label }}</label>
        <select :id="uniqueId" v-model="currentValue" :name="name">
            <option v-for="(val, key) in dataset" :value="key" :key="`${uniqueId}_${key}`">
                {{ val }}
            </option>
        </select>
        <div v-show="false"><slot></slot></div>
    </div>
</template>
<script>
    import { controlMixin } from '../controlMixin'    
    import { enumMixin } from '../enumMixin'
    
    export default {
        mixins: [ controlMixin, enumMixin ],    
        props: {
            list: { type: Object, default: function(){ return {} } }
        },
        data(){
            return {
                currentValue: this.value ? this.value :  Object.keys(this.list)[0],
                dataset: this.list,
            }
        },
        mounted() {
            if(this.$slots.default) {
    	        for(let el of this.$slots.default) {
	            this.dataset[el.elm.value] = el.elm.text; 
                }
            }
        }
    }
</script>
<style>

</style>