<template>
    <div class="vg-select vg-control">
        <label :for="uniqueId" class="vg-label">{{ label }}</label>
        <slot>

        </slot>

        <select :id="uniqueId" v-model="currentValue" :name="name">
            <option v-for="(val, key) in list" :value="key" :key="`${uniqueId}_${key}`">
                {{ val }}
            </option>
        </select>
    </div>
</template>
<script>
    import { controlMixin } from '../controlMixin'    
    import { enumMixin } from '../enumMixin'
    
    export default {
        mixins: [ controlMixin, enumMixin ],    
        data(){
            return {
                currentValue: this.value ? this.value :  Object.keys(this.list)[0]
            }
        },
        methods: {

        }
    }
</script>
<style>

</style>