<template>
    <div class="vg-switch-container">
        <input class="vg-switch-input" type="checkbox" model="value" id="inp32">
        <label for="inp32" class="vg-switch-label"></label>
    </div>
</template>
<script>
    export default {
        props: {
            "vg-value": {
                type: String,
                default: '1'
            },
            "name": {
                type: String,
                default: 'switch'
            }            
        },
        data() {
            return {
                value: parseInt(this.vgValue)
            }
        }
    }
</script>
<style>
.vg-switch-container {
    position: relative;
    padding: 8px;
    min-width: 140px;    
}
.vg-switch-input {
    position: absolute !important;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    bottom: 0;    
}
.vg-switch-label {
    display: inline-block;
    position: relative;
    height: 44px;
    width: 90px;
    background-color: #ccc;
    cursor: pointer;
    font-size: 0;
    color: transparent;
    border-radius: 22px;
}
.vg-switch-label::after {
    content: '';
    display: block;
    height: 40px;
    width: 40px;
    position: absolute;
    top: 2px;
    right: 48px;
    border-radius: 50%;
    background-color: #e8e8e8;
    -webkit-box-shadow: 2px 0px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 2px 0px 0px rgba(0, 0, 0, 0.15); 
    transition: right 500ms ease, background-color 500ms ease,  box-shadow 500ms ease;    
}
.vg-switch-input:checked + label {
    background: #ffd000;
    transition: background-color 500ms ease;
    cursor: pointer;
    font-size: 0;
    color: transparent;
    border-radius: 22px;    
}
.vg-switch-input:checked + label::after {
    right: 2px;
    background-color: #fff;
    box-shadow: -2px 0px 0px rgba(0,0,0,0.1);
}

</style>