<template>
    <transition name="fade-in">
        <div v-show="isActive" class="vg-tab-pane">
            <slot>
                <p>This is default tabs pane</p>
            </slot>
        </div>
    </transition>
</template>
<script>
    export default {
        props:{
            title: { type: String, default : 'Tab' },
            active: {  type: String,  default : 'false' }
        },
        data() {
            return {
                isActive: parseBool(this.active)
            }
        },
        mounted() {
            this.$parent.add(this)
        }
    };
</script>
<style>
    .vg-tab-pane {
        display: block;
        top: 44px;
        left: 0px;
        z-index: -1;
        padding: 8px 15px;
    }
</style>