<template>
    <div class="vg-tab-group">
        <div class="vg-tab-header">
            <div v-for="(tab, index) in toggleables" class="vg-tab-button" @click="switchTo(tab)" :class="{ active: tab.isActive }" :key="`${uniqueId}_${index}`">
                <span class="vg-tab-button-label">
                    {{ tab.title }}
                </span>
            </div>
        </div>
        <slot>
        </slot>
    </div>
</template>
<script>
    import { togglerMixin } from '../togglerMixin'
    import { enumMixin } from '../enumMixin'    

    export default {
        mixins: [ togglerMixin, enumMixin ]
    };    
</script>
<style lang="scss">
    @import './src/sass/_var.scss';    

    .vg-tab-group {
        position: relative;
    }

    .vg-tab-button {
        cursor: pointer;
        padding: 10px;
        margin-left: 10px;
        height: 20px;
        display: inline-block;
    }

    .vg-tab-header {
        border-bottom: 1px solid $outline;
        margin-bottom: 10px;
    }

    .vg-tab-button {
        position: relative;
        @include transition(opacity 0.5s);     
        opacity: 0.5;
        .vg-tab-button-label {
            padding: 10px 15px 20px;
        }
        &.active {
            opacity: 1;
            .vg-tab-button-label {
                &:before {
                    border-bottom: 11px solid $outline;
                    border-left: 11px solid transparent;
                    border-right: 11px solid transparent;
                    content: "";
                    display: inline-block;
                    position: absolute;
                    right: 40%;
                    bottom: 0px;
                }
                &:after {
                    border-bottom: 11px solid $background;
                    border-left: 11px solid transparent;
                    border-right: 11px solid transparent;
                    content: "";
                    display: inline-block;
                    position: absolute;
                    right: 40%;
                    bottom: -1px;
                }
            }
        }
        &:hover {
            opacity: 1;
        }
    }
</style>
